<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-footer">
          <div class="f-logo">
            <a href="index-2.html"
              ><img src="images/f-logo.png" alt="Logo"
            /></a>
          </div>
          <a href="tel:298228289" class="display-4 cta-link text-secondary"
            >+88 029 345 702</a
          >
          <ul class="mt-4">
            <li class="d-flex align-items-center">
              <span><i class="feather-icon icon-mail"></i></span>
              <a
                href="../cdn-cgi/l/email-protection.html#7c15121a133c0513090e1813111d1512521f1311"
                ><span
                  class="__cf_email__"
                  data-cfemail="ec85828a83ac9583999e8883818d8582c28f8381"
                  >[email&#160;protected]</span
                ></a
              >
            </li>
            <li class="d-flex align-items-center">
              <span><i class="feather-icon icon-map-pin"></i></span>
              55 Green Street, New York
            </li>
          </ul>
        </div>
      </div>
      <!--  Widget End -->
      <div class="col-lg-2 offset-lg-1 col-sm-6">
        <div class="footer-widget">
          <h3 class="widget-title text-white">Company</h3>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="contact.html">Contact us</a></li>
          </ul>
        </div>
      </div>
      <!--  Widget End -->
      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
          <h3 class="widget-title text-white">Categories</h3>
          <ul>
            <li><a href="#">Ui/Ux Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Data Sciences</a></li>
            <li><a href="#">Art & Design</a></li>
            <li><a href="contact.html">Digital Marketing</a></li>
          </ul>
        </div>
      </div>
      <!--  Widget End -->
      <div class="col-lg-4 ps-xxl-5 col-sm-6">
        <div class="footer-widget post-widget">
          <h3 class="widget-title text-white">Latest From Blogs</h3>
          <div class="recent-posts">
            <div class="d-flex recent-entry">
              <div class="entry-thumb">
                <a href="single-post.html"
                  ><img src="images/post1.jpg" alt="Post"
                /></a>
              </div>
              <div class="entry-content ms-3">
                <h4 class="display-6 text-info">
                  <a href="single-post.html"
                    >Education Turns Filthy Mind Into Open Mind</a
                  >
                </h4>
                <div class="entry-meta">
                  <span
                    ><i class="feather-icon icon-calendar"></i>29 Jun 2024</span
                  >
                  <span><i class="feather-icon icon-clock"></i>4 Min Read</span>
                </div>
              </div>
            </div>
            <div class="d-flex recent-entry">
              <div class="entry-thumb">
                <a href="single-post.html"
                  ><img src="images/post2.jpg" alt="Post"
                /></a>
              </div>
              <div class="entry-content ms-3">
                <h4 class="display-6 text-info">
                  <a href="single-post.html"
                    >Education Turns Filthy Mind Into Open Mind</a
                  >
                </h4>
                <div class="entry-meta">
                  <span
                    ><i class="feather-icon icon-calendar"></i>29 Jun 2024</span
                  >
                  <span><i class="feather-icon icon-clock"></i>4 Min Read</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Widget End -->
    </div>
    <div class="row footer-bottom">
      <div class="col-lg-6 col-sm-6 order-2 order-sm-1">
        <p class="m-0 text-mute">
          © 2024 Design by
          <a class="text-secondary" href="https://www.theme-village.com/"
            >Themevillage</a
          >. All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 col-sm-6 order-1 order-sm-2">
        <div class="social-share-alt text-lg-end text-mute">
          <a href="#"><img src="images/icons/fb-w.png" alt="" /></a>
          <a href="#"><img src="images/icons/tw-w.png" alt="" /></a>
          <a href="#"><img src="images/icons/ins-w.png" alt="" /></a>
          <a href="#"><img src="images/icons/linkedin-w.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
